<app-header-page></app-header-page>
<section class="ani-head">
  <div class="start">
    <h1>Top 10 Anime for Beginners to start your Anime Journey</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      vitae neque doloribus ratione non eveniet. Lorem ipsum dolor sit, amet
      consectetur adipisicing elit.
    </p>
  </div>

  <img src="../assets/images/1_3.jpg" alt="" />
  
</section>
<section class="ani-list">
  <div id="images">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae fugiat a
      nulla neque ullam libero officiis natus. Ducimus quidem consequatur fugiat
      et, sunt voluptas tenetur facere quisquam nemo quod deserunt, exercitationem
      at fuga error possimus vero quos. Accusamus pariatur, consequatur quasi eos
      amet aliquid sed porro repudiandae alias. Reiciendis sapiente magnam unde
      asperiores. Libero non error exercitationem iure similique eveniet.
    </p>
    <div class="des-card">
      <h1><span class="bulletins">1</span>Demon Slayer</h1>
      <img src="../assets/images/disc1.jpg" />
      <div class="caption">
        <h3>Genre: Action, Adventure, Shounen</h3>
        <h3>Seasons: 2 Seasons</h3>
        <h3>Studio: MAPPA</h3>
        <h3>Since: 2018-2022</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi
          doloribus animi expedita molestias ipsam sed non excepturi officia
          dignissimos saepe voluptatem voluptates, quae quis error beatae dolore
          sit blanditiis modi maxime optio in sequi consequatur soluta. Odit
          veniam, qui, quae deserunt eos magnam aut excepturi inventore rem,
          eius repellendus.
        </p>
        <div class="utube">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/VQGCKyvzIM4"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quasi
          veritatis amet delectus? Repellendus doloremque fuga atque blanditiis
          quas similique laboriosam aspernatur eaque fugit voluptas ex in,
          debitis voluptate dolor facere cum tempore. Nemo rem explicabo dolores
          illo totam dolorum?
        </p>
        <button class="btn-0"><a href="#">Available on. NETFLIX</a></button>
      </div>
    </div>
    <div class="des-card">
      <h1><span class="bulletins">2</span>Haikyuu</h1>
      <img src="../assets/images/disc2.jpg" />
      <div class="caption">
        <h3>Genre: Sports, Drama, Shounen, Slice of life</h3>
        <h3>Seasons: 4 Seasons</h3>
        <h3>Studio: Ufotable</h3>
        <h3>Since: 2015-2020</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi
          doloribus animi expedita molestias ipsam sed non excepturi officia
          dignissimos saepe voluptatem voluptates, quae quis error beatae dolore
          sit blanditiis modi maxime optio in sequi consequatur soluta. Odit
          veniam, qui, quae deserunt eos magnam aut excepturi inventore rem,
          eius repellendus.
        </p>
        <div class="utube">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/JOGp2c7-cKc"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quasi
          veritatis amet delectus? Repellendus doloremque fuga atque blanditiis
          quas similique laboriosam aspernatur eaque fugit voluptas ex in,
          debitis voluptate dolor facere cum tempore. Nemo rem explicabo dolores
          illo totam dolorum?
        </p>
        <button class="btn-0"><a href="#">Available on. HULU</a></button>
      </div>
    </div>
    <div class="des-card">
      <h1><span class="bulletins">3</span>Attack on Titan</h1>
      <img src="../assets/images/disc3.jpg" />
      <div class="caption">
        <h3>Genre: Action, Adventure, Shounen</h3>
        <h3>Seasons: 2 Seasons</h3>
        <h3>Studio: MAPPA</h3>
        <h3>Since: 2018-2022</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi
          doloribus animi expedita molestias ipsam sed non excepturi officia
          dignissimos saepe voluptatem voluptates, quae quis error beatae dolore
          sit blanditiis modi maxime optio in sequi consequatur soluta. Odit
          veniam, qui, quae deserunt eos magnam aut excepturi inventore rem,
          eius repellendus.
        </p>
      </div>
    </div>
    <div class="des-card">
      <h1><span class="bulletins">4</span>Spy x Family</h1>
      <img src="../assets/images/disc4.jpg" />
      <div class="caption">
        <h3>Genre: Action, Adventure, Shounen</h3>
        <h3>Seasons: 2 Seasons</h3>
        <h3>Studio: MAPPA</h3>
        <h3>Since: 2018-2022</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi
          doloribus animi expedita molestias ipsam sed non excepturi officia
          dignissimos saepe voluptatem voluptates, quae quis error beatae dolore
          sit blanditiis modi maxime optio in sequi consequatur soluta. Odit
          veniam, qui, quae deserunt eos magnam aut excepturi inventore rem,
          eius repellendus.
        </p>
      </div>
    </div>
    <div class="des-card">
      <h1><span class="bulletins">5</span>Horimiya</h1>
      <img src="../assets/images/disc5.jpg" />
      <div class="caption">
        <h3>Genre: Action, Adventure, Shounen</h3>
        <h3>Seasons: 2 Seasons</h3>
        <h3>Studio: MAPPA</h3>
        <h3>Since: 2018-2022</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nisi
          doloribus animi expedita molestias ipsam sed non excepturi officia
          dignissimos saepe voluptatem voluptates, quae quis error beatae dolore
          sit blanditiis modi maxime optio in sequi consequatur soluta. Odit
          veniam, qui, quae deserunt eos magnam aut excepturi inventore rem,
          eius repellendus.
        </p>
      </div>
    </div>
  </div>
  <div class="des-side">
    <h2>Suggested by Us:</h2>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
    <h3>Lorem ipsum dolor sit amet consectetur</h3>
  </div>
</section>
<app-footer-page></app-footer-page>
