<app-header-page></app-header-page>
<div>
  <section id="main">
      <ul class="cards">
        <li class="cards__item">
          <div class="card">
            <div class="image">
              <img src="../assets/images/1_5.jpg" alt="" />
            </div>
            <div class="content">
              <div class="card__title">
                best webseries like one-piece to watch right now
              </div>
              <p class="card__text">
                This is the shorthand for flex-grow, flex-shrink and flex-basis
                combined.
              </p>
              <button class="btn btn--block card__btn"  routerLink="description"><a >read more..</a></button>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="image">
              <img src="../assets/images/1_4.jpg" alt="" />
            </div>
            <div class="content">
              <div class="card__title">
                top 10 romentic drama anime of 2023 to must watch
              </div>
              <p class="card__text">
                This defines the ability for a flex item to grow if necessary.
                It accepts
              </p>
              <button class="btn btn--block card__btn" routerLink="description"><a >read more..</a></button>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="image">
              <img src="../assets/images/1_3.jpg" alt="" />
            </div>
            <div class="content">
              <div class="card__title">
                top 10 romentic drama anime of 2023 to must watch
              </div>
              <p class="card__text">
                This defines the ability for a flex item to grow if necessary.
                It accepts
              </p>
              <button class="btn btn--block card__btn" routerLink="description"><a >read more..</a></button>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="image">
              <img src="../assets/images/1_2.jpg" alt="" />
            </div>
            <div class="content">
              <div class="card__title">
                top 10 romentic drama anime of 2023 to must watch
              </div>
              <p class="card__text">
                This defines the ability for a flex item to grow if necessary.
                It accepts
              </p>
              <button class="btn btn--block card__btn" routerLink="description"><a >read more..</a></button>
            </div>
          </div>
        </li>
        <li class="cards__item">
          <div class="card">
            <div class="image">
              <img src="../assets/images/1_1.jpg" alt="" />
            </div>
            <div class="content">
              <div class="card__title">
                top 10 romentic drama anime of 2023 to must watch
              </div>
              <p class="card__text">
                This defines the ability for a flex item to grow if necessary.
                It accepts
              </p>
              <button class="btn btn--block card__btn" routerLink="description"><a >read more..</a></button>
            </div>
          </div>
        </li>
      </ul>
  </section>
    <aside id="sidebar">
      <h1>Anime like</h1>
      <ul>
          <li><a href="#">Demon Slayer</a></li>
          <li><a href="#">Tokyo Ghoul</a></li>
          <li><a href="#">Berserk</a></li>
          <li><a href="#">Bleach</a></li>
          <li><a href="#">Dragon Ball</a></li>
          <li><a href="#">Pokemon</a></li>
          <li><a href="#">FMAB</a></li>
          <li><a href="#">Dorohedoro</a></li>
          <li><a href="#">Odd Taxi</a></li>
          <li><a href="#">Naruto</a></li>
      </ul>
      <h1>New release</h1>
      <ul>
          <li><a href="#">Horror Anime</a></li>
          <li><a href="#">Action Anime</a></li>
          <li><a href="#">Adventure Anime</a></li>
          <li><a href="#">Sports Anime</a></li>
          <li><a href="#">Shounen Anime</a></li>
          <li><a href="#">Thriller Anime</a></li>
          <li><a href="#">Romcom Anime</a></li>
          <li><a href="#">Sci-fi Anime</a></li>
      </ul>
    </aside>
</div>
<app-footer-page></app-footer-page>